*
::after
::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    color: rgb(31, 28, 28);
}

.container {
    margin: 20%;
    width: 80%;
    max-width: 700px;
}

.display{
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(138, 118, 5);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1rem;
    border-radius: 0.4rem;
}

.container h1{
font-weight: 500;
font-size: 2rem ;
}

.container h1 span {
    color: rebeccapurple ;
    border-bottom: 4px black;
    padding-bottom: 5px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 1.2rem;
}

.container button img {
    width: 1.5rem;
    margin-right: 0.6rem;
}

.container button {
    border: 0;
    outline: 0;
    background: red;
    color: yellow;
    font-size: 1.375px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
}


